:root {
    --primary: #930000;
    --white: #fff;
    --black: #000;
    --gray: #ccc;
    --light-gray: #eaeaea;
    --bg-gray: #e5e5e5;
    --yellow: #dab021;
    --blue: #00acc1;
    --light-blue: #00897b;
}

.v-list-item__prepend {
    display: unset !important;
}

i.mdi-checkbox-blank-circle-outline.mdi.v-icon.notranslate.v-theme--light.v-icon--size-default,
.v-list-item-title {
    font-size: 14px !important;
}

.color-primary {
    color: var(--primary);
}

.padding-0 {
    padding: 0 !important;
}

.margin-0 {
    margin: 0 !important;
}

.bg-gray {
    background-color: var(--bg-gray);
}

.bg-primary {
    background-color: var(--primary);
}

.box-shadow {
    text-shadow: #0006 0px 4px 8px 0px;
}

.mx-30 {
    margin: 0 30px;
}

.pa-30 {
    padding: 30px;
}

/* checkbox display */
.v-checkbox .v-selection-control {
    min-height: 33px !important;
}

.v-selection-control--density-default {
    --v-selection-control-size: 33px !important;
}

/* end */

/* btn */
.action-icon-btn {
    background-color: var(--primary);
    color: var(--white);
    box-shadow: #0006 0px 4px 8px 0px;
    text-transform: initial;
}

span.v-btn__prepend {
    margin-right: 0px !important;
}

/* end */

figure.image img {
    width: 100%;
}
